form {
    width: 100%;
}

#urlInput {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#content {
    padding-top: 15px;
}

#tags {
    margin-bottom: 20px;
}

#tagInput {
    width: 300px;
    display: inline;
}

#tagInput:focus {
    outline: none;
}