form {
    width: 100%;
}

#urlInput {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#content {
    padding-top: 15px;
}

.tag {
    width: 300px;
    padding: 5px;
}

.removeTag {
    float: right;
}

.removeTag:hover {
    cursor: pointer;
}

#tags {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tagInput {
    width: 300px;
    display: inline;
}

#tagInput:focus {
    outline: none;
}